# === Node.js ===
node_modules/
npm-debug.log*
package-lock.json

# === Logs ===
logs
*.log
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# === Environment Variables ===
.env
.env.*
**/.env
**/.env.*

# === Runtime Data ===
pids
*.pid
*.seed
*.pid.lock

# === Testing and Coverage ===
coverage/
*.lcov
.nyc_output

# === Output Directories ===
dist/
build/
out/

# === Caches ===
.cache/
.parcel-cache
.eslintcache
.stylelintcache
.vitepress/
.vitepress/cache

# === TypeScript ===
*.tsbuildinfo

# === VSCode ===
.vscode/
.vscode-test

# === OS Specific ===
.DS_Store
Thumbs.db

# === Others ===
*.tgz
lib-cov
bower_components/

# === Optional npm files ===
.npm
